.banner {
  background-image: url("https://images.indianexpress.com/2021/06/pixabay-travelling-domestic-monsoon-1200.jpg");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
